<!DOCTYPE html>
<html lang="en" ng-app="chat_app" style="background:url('../static/images/lFksc8X.jpg') no-repeat center center; min-height:100%; background-size:cover;">
    <head>
        <meta charset="UTF-8">
        <title>Freddit: Home</title>

        <link rel="stylesheet" href="static/styles/dark-bootstrap.css">
    </head>
    <body style="min-height:100%; background: none;">
    <div class="container" ng-controller="ChatController">
        <div class="row" style="margin-top:6%">
            <div class="col-md-4">
                <div class="text-center">
                    <h1 id="mainText" style="display:none; color:white;">Freddit.. <i>or Fred for short..</i></h1>
                    <h2 id="subText" style="display:none; color:white;">The chatbox.</h2>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="content">
                    {%block content %}{% endblock %}
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">&copy 2017 Shacobe Johnson | UMW</div>
                </div>
            </div>
        </nav>
    </div>
    </body>
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootbox.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>

    <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>

</html>