<!DOCTYPE html>
<html lang="en" ng-app="search_app">
    <head>
        <meta charset="UTF-8">
        <title> {{ page_title }}</title>

        {% if client.night %}
        <link rel="stylesheet" id="page-theme" href="{{ url_for('static', filename='styles/dark-bootstrap.css') }}">
        {% else %}
        <link rel="stylesheet" id="page-theme" href="{{ url_for('static', filename='styles/light-bootstrap.css') }}">
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-extra.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.css') }}">

        {% if sub is defined and sub.header_text|length > 4 %}
        <style>
            .navbar-default .navbar-nav > li > a {
                color: {{ sub.header_text }};
            }

            .navbar-default .navbar-brand {
                color: {{ sub.header_text }};
            }
            {% if sub.header_background|length > 4 %}
                .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
                    color: {{ sub.header_text }};
                    background-color: {{ sub.header_background }};
                }
            {% endif %}
        </style>
        {% endif %}
        {% if sub is defined and sub.header_text|length > 4 %}
        <style>
            div.navbar.navbar-default.navbar-fixed-top {
                background-color: {{ sub.header_background }};
            }
        </style>
        {% endif %}
    </head>
    <body style="padding-top: 6%;">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Freddit</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for header_sub in subfreddits %}
                        <li><a href="/fr/{{ header_sub.path }}">{{ header_sub.path }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{client.username}}
                                {% if client.karma > 0 %}
                                    <span class="label label-success inline-block">{{client.karma}}</span>
                                {% elif client.karma < 0 %}
                                    <span class="label label-danger inline-block">{{client.karma}}</span>
                                {% elif client.karma == 0 %}
                                    <span class="label label-primary inline-block">{{client.karma}}</span>
                                {% endif %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/chat">Chat</a></li>
                                <li><a href="/settings">Settings</a></li>
                                <li><a href="/settings/create">Create Subfreddit</a></li>
                                <!-- modded subs here -->
                                <li class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                {%block content %}{% endblock %}
            </div>
            <footer style="padding-top: 15%; padding-bottom: 5%;">
                {% if client.admin %}
                <button type="button" class="btn btn-link" id="admin_flush" style="padding: 0; vertical-align: 0; ">Flush</button> |
                {% endif %}
                <button type="button" class="btn btn-link" id="night_toggle" style="padding: 0; vertical-align: 0; ">Night Mode (temp)</button> |
                &copy Shacobe Johnson
            </footer>
        </div>
    </body>
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.js') }}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>

    <script src="{{ url_for('static', filename='scripts/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/subfreddit.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>

</html>