{% extends "front_page_layout.html" %}

{% block content %}
    <!--suppress ALL -->
<div class="col-md-8">
    <div class="row" style="padding-bottom: 2%;">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="page-header" style="margin: 0%;">
                <h1>{{ sub.title }} <small>/fr/{{ sub.path }}</small> </h1>
            </div>
            <ul class="nav nav-tabs">
                <li class="active" id="sort-hot"><a href="{{ url_for('render_sub', name=sub.path) }}">Hot</a></li>
                <li><a href="{{ url_for('render_sub_sort', name=sub.path, sort='top') }}" id="sort-top">Top</a></li>
                <li><a href="{{ url_for('render_sub_sort', name=sub.path, sort='new') }}" id="sort-new">New</a></li>
            </ul>
        </div>
    </div>
    {% if sticky is defined and sticky.title|length > 0 %}
    <div class="row">
        <div class="col-md-2 text-center" style="padding-left: 5%;">
            {% set client_vote_status = client.has_voted(sticky.id, true) %}
            <div class="col-md-12">
                {% if client_vote_status == 1 %}
                <button type="button" class="btn btn-success active btn-xs upvote_post" id="{{ sticky.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-success btn-xs upvote_post" id="{{ sticky.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% endif %}
            </div>
            <div class="col-md-12" style="padding-top: 5%;">
                {% if sticky.vote_count > 0 %}
                    <p class="text-success vote-count" id="{{ sticky.id }}">{{ sticky.vote_count }}</p>
                {% elif sticky.vote_count < 0 %}
                    <p class="text-danger vote-count" id="{{ sticky.id }}">{{ sticky.vote_count }}</p>
                {% elif sticky.vote_count == 0 %}
                    <p class="vote-count" id="{{ sticky.id }}">{{ sticky.vote_count }}</p>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if client_vote_status == 0 %}
                <button type="button" class="btn btn-danger active btn-xs downvote_post" id="{{ sticky.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-danger btn-xs downvote_post" id="{{ sticky.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning btn-xs post-expand">
                            <span class="span6 glyphicon glyphicon-fullscreen"></span>  Expand
                        </button>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <b class="text-warning">{{ sticky.title }}</b>
                                </div>
                                <div class="col-md-12">
                                   <b class="text-warning">
                                       <i>{{  ago.format(sticky.date_posted, date.datetime.now()) }}</i> by <a href="{{ url_for('render_user', name=sticky.get_user_name()) }}">{{ sticky.get_user_name() }}</a> in <a href="#">/fr/{{ sticky.get_subfreddit_path() }}</a>
                                   </b>
                                </div>
                                <div class="col-md-12 post-extra" style="padding-top:4%;">
                                    {% if sticky.type == 0 %}
                                    <blockquote>
                                        <p>{{ sticky.post_text }}</p>
                                    </blockquote>
                                    {% elif sticky.type == 1 %}
                                    {{ misc.parse_media(post.media_url)|safe }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="{{ url_for('render_post', id=sticky.id) }}">{{ sticky.get_comment_count() }} comments</a>
                                {% if is_mod %}
                                <div class="pull-right">
                                    <div class="post_actions">
                                        <button class="btn btn-link edit_post" id="{{ sticky.id }}" style="padding: 0;">Edit</button>
                                        <button class="btn btn-link unsticky_post" id="{{ sticky.id }}" style="padding: 0;">Unsticky</button>
                                        <button class="btn btn-link delete_post" id="{{ sticky.id }}" style="padding: 0;">Delete</button>
                                    </div>
                                    <div class="action_confirmation" operation="" id="{{ sticky.id }}" in_post="false" style="display: none;">
                                        are you sure?
                                        <button class="btn btn-link yes_confirmation" id="{{ sticky.id }}" style="padding: 0;">yes</button> /
                                        <button class="btn btn-link no_confirmation" id="{{ sticky.id }}" style="padding: 0;">no</button>
                                    </div>
                                </div>
                                {% elif sticky.user_id == client.id %}
                                <div class="pull-right">
                                    <div class="post_actions">
                                        <button class="btn btn-link edit_post" id="{{ sticky.id }}" style="padding: 0;">Edit</button>
                                        <button class="btn btn-link delete_post" id="{{ sticky.id }}" style="padding: 0;">Delete</button>
                                    </div>
                                    <div class="action_confirmation" operation="" id="{{ sticky.id }}" in_post="false" style="display: none;">
                                        are you sure?
                                        <button class="btn btn-link yes_confirmation" id="{{ sticky.id }}" style="padding: 0;">yes</button> /
                                        <button class="btn btn-link no_confirmation" id="{{ sticky.id }}" style="padding: 0;">no</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    {% for post in posts %}
    <div class="row">
        <div class="col-md-2 text-center" style="padding-left: 5%;">
            {% set client_vote_status = client.has_voted(post.id, true) %}
            <div class="col-md-12">
                {% if client_vote_status == 1 %}
                <button type="button" class="btn btn-success active btn-xs upvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-success btn-xs upvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% endif %}
            </div>
            <div class="col-md-12" style="padding-top: 5%;">
                {% if post.vote_count > 0 %}
                    <p class="text-success vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% elif post.vote_count < 0 %}
                    <p class="text-danger vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% elif post.vote_count == 0 %}
                    <p class="vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if client_vote_status == 0 %}
                <button type="button" class="btn btn-danger active btn-xs downvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-danger btn-xs downvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning btn-xs post-expand">
                            <span class="span6 glyphicon glyphicon-fullscreen"></span>  Expand
                        </button>
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    {{ post.title }}
                                </div>
                                <div class="col-md-12">
                                   <i>{{  ago.format(post.date_posted, date.datetime.now()) }}</i> by <a href="{{ url_for('render_user', name=post.get_user_name()) }}">{{ post.get_user_name() }}</a> in <a href="#">/fr/{{ post.get_subfreddit_path() }}</a>
                                </div>
                                <div class="col-md-12 post-extra" style="display: none; padding-top:4%;">
                                    {% if post.type == 0 %}
                                    <blockquote>
                                        <p>{{ post.post_text }}</p>
                                    </blockquote>
                                    {% elif post.type == 1 %}
                                    {{ misc.parse_media(post.media_url)|safe }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="{{ url_for('render_post', id=post.id) }}">{{ post.get_comment_count() }} comments</a>
                                {% if is_mod %}
                                <div class="pull-right">
                                    <div class="post_actions">
                                        <button class="btn btn-link edit_post" id="{{ post.id }}" style="padding: 0;">Edit</button>
                                        <button class="btn btn-link sticky_post" id="{{ post.id }}" style="padding: 0;">Sticky</button>
                                        <button class="btn btn-link delete_post" id="{{ post.id }}" style="padding: 0;">Delete</button>
                                    </div>
                                    <div class="action_confirmation" operation="" id="{{ post.id }}" in_post="false" style="display: none;">
                                        are you sure?
                                        <button class="btn btn-link yes_confirmation" id="{{ post.id }}" style="padding: 0;">yes</button> /
                                        <button class="btn btn-link no_confirmation" id="{{ post.id }}" style="padding: 0;">no</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-md-4">
    <div class="affix" style="padding-right: 2%;">
        <div class="row" style="padding-bottom: 5%;">
            <div class="col-md-12" ng-controller="SearchController">
                <form class="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search within /fr/{{sub.path}}.." id="subfreddit_search" />
                        <div class="input-group-btn">
                            <button class="btn btn-info subfreddit_search_submit" id = "{{ sub.id }}">Search</button>
                        </div>
                    </div>
                    <span id="search_text" class="help-block text-warning" style="display:none;">searching...</span>
                </form>
                <hr>
                <div class="pre-scrollable">
                    <div ng-if="search_results.length > 0">
                        <div class="row" ng-repeat="sr in search_results">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h4><a href="{{ '{{ sr.link }}' }}" ng-bind="sr.name"></a> {{ '{{ sr.extra }}' }}</h4>
                                <h5 ng-bind="sr.desc"></h5>
                                <hr>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div ng-if="search_results.length <= 0">
                        No results found!
                    </div>
                </div>
            </div>
        </div>
        {% set sub_count = sub.get_subscribe_count() %}
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <b>{{sub.title}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <i>/fr/{{sub.path}}</i> <br />
                    <i>
                        {% if sub_count <= 1 %}
                        {{ sub_count }} <b>{{ sub.subscriber_name }}</b>
                        {% else %}
                        {{ sub_count }} <b>{{ sub.subscriber_name }}s</b>
                        {% endif %}
                    </i>
                </div>
                <div class="col-md-2">
                    {% if client.is_subscribed(sub.id) %}
                    <a href="{{ url_for('unsubscribe', id=sub.id) }}" type="button" class="btn btn-danger btn-xs">Unsubscribe</a>
                    {% else %}
                    <a href="{{ url_for('subscribe', id=sub.id) }}" type="button" class="btn btn-success btn-xs">Subscribe</a>
                    {% endif %}
                    {% if client.admin or is_owner %}
                    <a href="{{ url_for('render_sub_settings', id=sub.id) }}" type="button" class="btn btn-warning btn-xs" style="margin-top: 30%;">Settings</a>
                    {% endif %}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p>{{sub.desc}}</p>
                </div>
            </div>
            <br />
            <div class="row">
                {% if client.is_subscribed(sub.id) %}
                <div class="col-md-12 text-center">
                    <a type="button" href="{{ url_for('post', sub=sub.id) }}" class="btn btn-warning btn-sm btn-block">Create Post</a>
                </div>
                {% endif %}
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>moderators</b> <br />
                    {% for mod in sub.moderators %}
                    <div style="padding-bottom: 3%">
                        <a href="{{ url_for('render_user', name=mod.username) }}">{{ mod.username }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

