{% extends "front_page_layout.html" %}

{% block content %}
    <!--suppress ALL -->
<div class="col-md-8">
    <div class="row" style="padding-bottom: 2%;">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="page-header" style="margin: 0%;">
                <h1>{{ sub.title }} <small>/fr/{{ sub.path }}</small> </h1>
            </div>
            <ul class="nav nav-tabs">
                <li class="active" id="sort-hot"><a href="{{ url_for('render_sub', name=sub.path) }}">Hot</a></li>
                <li><a href="{{ url_for('render_sub_sort', name=sub.path, sort='top') }}" id="sort-top">Top</a></li>
                <li><a href="{{ url_for('render_sub_sort', name=sub.path, sort='new') }}" id="sort-new">New</a></li>
            </ul>
        </div>
    </div>
    {% for post in posts %}
    <div class="row">
        <div class="col-md-2 text-center" style="padding-left: 5%;">
            {% set client_vote_status = client.has_voted(post.id, true) %}
            <div class="col-md-12">
                {% if client_vote_status == 1 %}
                <button type="button" class="btn btn-success active btn-xs upvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-success btn-xs upvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-up"></span>
                </button>
                {% endif %}
            </div>
            <div class="col-md-12" style="padding-top: 5%;">
                {% if post.vote_count > 0 %}
                    <p class="text-success vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% elif post.vote_count < 0 %}
                    <p class="text-danger vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% elif post.vote_count == 0 %}
                    <p class="vote-count" id="{{ post.id }}">{{ post.vote_count }}</p>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if client_vote_status == 0 %}
                <button type="button" class="btn btn-danger active btn-xs downvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% else %}
                <button type="button" class="btn btn-danger btn-xs downvote_post" id="{{ post.id }}">
                    <span class="span6 glyphicon glyphicon-arrow-down"></span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning btn-xs post-expand">
                            <span class="span6 glyphicon glyphicon-fullscreen"></span>  Expand
                        </button>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    {{ post.title }}
                                </div>
                                <div class="col-md-12">
                                   <i>{{  ago.format(post.date_posted, date.datetime.now()) }}</i> by <a href="u/{{ post.get_user_name() }}">{{ post.get_user_name() }}</a> in <a href="fr/{{ post.get_subfreddit_path() }}">/fr/{{ post.get_subfreddit_path() }}</a>
                                </div>
                                <div class="col-md-12 post-extra" style="display: none; padding-top:4%;">
                                    {% if post.type == 0 %}
                                    <blockquote>
                                        <p>{{ post.post_text }}</p>
                                    </blockquote>
                                    {% elif post.type == 1 %}
                                    <img src="{{ post.media_url }}" alt="..." class="img-responsive">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a href="{{ url_for('render_post', id=post.id) }}">{{ post.get_comment_count() }} comments</a>
                                {% if is_mod %}
                                <div class="pull-right">
                                    <a class="delete-post" id="{{ post.id }}" href="">Delete</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-md-4">
    <div class="affix" style="padding-right: 2%;">
        <div class="row" style="padding-bottom: 5%;">
            <div class="col-md-12">
                <form class="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search within /fr/{{sub.path}}.." id="subfreddit-search" />
                        <div class="input-group-btn">
                            <button class="btn btn-info">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <b>{{sub.title}}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <i>/fr/{{sub.path}}</i>
                </div>
                <div class="col-md-2">
                    {% if client.is_subscribed(sub.id) %}
                    <button type="button" class="btn btn-danger btn-xs">Unsubscribe</button>
                    {% else %}
                    <button type="button" class="btn btn-success btn-xs">Subscribe</button>
                    {% endif %}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p>{{sub.desc}}</p>
                </div>
            </div>
            <br />
            <div class="row">
                {% if client.is_subscribed(sub.id) %}
                <div class="col-md-12 text-center">
                    <a type="button" href="{{ url_for('post', sub=sub.id) }}" class="btn btn-warning btn-sm btn-block">Create Post</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

